name: second workflow
on: 
  workflow_run:
       workflows: ["first workflow"]
       types: 
         - completed
jobs: 
    check: 
       runs-on: ubuntu-latest
       steps: 
         - run: echo "Second workflow automatically runs Successfully once after first workflow finished."
